body{
    background: rgb(177, 143, 115);
}

.encabezado{
    text-align: center;
    color: aliceblue;
    background: black;
    align-items: center;
}

.contact1{
    background-color: #fff;
    width: 60%;
    height: 230px;
    margin: auto;
    border-radius: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    

}

.contactDiv, .imgDiv{
    width: 50%;
    box-sizing: border-box;
    float: left;    
}

.h3contact{
    color: black;
    margin-left: 100px;
    width: 40%;
}

.contact1 h4{
    color: black;
    margin-left: 100px;
    width: 40%;
}

.imgIcon{
    margin: auto;
    width: 20px;
}

.imgContact{
    width: 80px;
    
}

.verMas{
    margin-top: 40px;
    display: inline-block;
    padding: 20px 30px;
    background-color: gray;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3 ease;

}

.verMas:hover{
    background-color: black;
}