body{
    background: black;
}

.encabezado{
    text-align: center;
    color: aliceblue;
    background: gray;
    align-items: center;
}

.contact1{
    background-color: white;
    color: white;
    background-color: white;
    width: 80%;
    height: 300px;
    margin: auto;
    border-radius: 150px;
}